<% @user = User.new %>
<%= form_for @user, url: users_path, method: 'POST' do |f| %>
  <div class="modal-login"><%= f.label :first_name, "First Name:" %></div>
  <div class="col-sm-6 offset-sm-3"><%= f.text_field :first_name, autofocus: true %></div>

  <div class="modal-login"><%= f.label :email, "EMAIL:" %></div>
  <div class="col-sm-6 offset-sm-3"><%= f.text_field :email %></div>

  <div class="modal-login"><%= f.label :phone_number %></div>
  <div class="col-sm-6 offset-sm-3"><%= f.text_field :phone_number %></div>

  <div class="modal-login"><%= f.label :password %></div>
  <div class="col-sm-6 offset-sm-3"><%= f.password_field :password %></div>

  <div class="modal-login"><%= f.label :password_confirmation %></div>
  <div class="col-sm-6 offset-sm-3"><%= f.password_field :password_confirmation %></div>

  <div class="modal-login-btn"><%= f.submit "Sign up!", class: "btn btn-outline-warning" %></div>
<% end %>