<h1>USER PROFILE</h1>


<div class="container6">
  <% @user = current_user %>
  <%= form_for @user, url: user_path(:id => current_user.id), method: 'PATCH' do |f| %>

  <div>
    <%= f.label :first_name, "First Name:", class: "col-sm-4" %>
    <%= f.text_field :first_name, class: "col-sm-4" %>
  </div>
  <div>
    <%= f.label :email, "Email: ", class: "col-sm-4" %>
    <%= f.text_field :email, class: "col-sm-4" %>
  </div>
  <div>
    <%= f.label :phone_number, "Phone Number: ", class: "col-sm-4" %>
    <%= f.text_field :phone_number, class: "col-sm-4" %>    
  </div>
  <div>
    <%= f.label :password, "Update Your Password: ", class: "col-sm-4" %>
    <%= f.password_field :password, class: "col-sm-4" %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm Password Update: ", class: "col-sm-4" %>
    <%= f.password_field :password_confirmation, class: "col-sm-4" %>
  </div>
  <p></p>
  <div>
    <%= f.submit "Update!", class: "btn btn-warning" %>
  </div>
<% end %>
</div>