<!-- <div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
      

    </div>

<% @user = current_user %>
<%= form_for @user, url: user_path(:id => current_user.id), method: 'PATCH' do |f| %>
  <div>
    <%= f.label :first_name, "First Name:", class: "col-form-label" %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>
  <div>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone_number, "Email: " %>
    <%= f.text_field :phone_number %>    
  </div>
  <div>
    <%= f.label :password, "Password:"  %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm Password: " %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Update!" %>
  </div>
<% end %> -->