<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="display-4"><%= image_tag "logosmall.png", width:200, height:"auto", alt:"beach box logo"  %></div>
    <div class=""><h2>This could be you.</h2></div>
  </div>
</div>

<!-- BUILD A BOX BUTTON // LOGIN  // REGISTER -->

<div class=container1>
  <% if current_user %>
    <%= link_to 'Build-A-BeachBox', buildbox_path, class: "btn btn-outline-light btn-lg" %>
  <% else %>
  <button type="button" class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#myModal1">
  Build-A-BeachBox
  </button>
  <% end %>
</div>

<%= render partial: "users/login_signup_modal" %>

<!-- CUSTOMER REVIEW -->

<%= render partial: "users/customer_review" %>

<!-- CONTACT US FORM -->

<%= render partial: "users/contact_form" %>
