<% p_name = product.product_name.parameterize.underscore %>
<div class="productphotos <%= p_name %>" data-target="<%= p_name %>"><%= image_tag(product.product_image_url) %>
  <br>
  <div class="form-group">
    <div class="control-label"><%= product.product_name %></div>
    <label class="control-label2">$<%= product.product_price %> (unit price)</label>
    <br>
    <p></p>
    <div class="input-group number-spinner">
      <span class="input-group-btn">
              <a class="btn btn-danger" data-dir="dwn"><i class="fas fa-minus"></i></a>
      </span>
      <input type="text" disabled data-id="<%= product.id %>" data-name="<%= product.product_name %>" name="<%= p_name %>_qty" id="<%= p_name %>_qty" class="form-control text-center item_qty" value="1" max=9 min=1>
      <span class="input-group-btn">
        <a class="btn btn-info" data-dir="up"><i class="fas fa-plus"></i></a>      
      </span>
    </div>
  </div>
</div>
