<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
        <% if request.ssl? %>
          <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
          <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
        <% else %>
          <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
          <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
        <% end %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

        <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>


  <div class="container">
    <div class="stepper">

        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">1</span>Build Your Box
          </div>
        </div>
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">2</span>Delivery
          </div>
        </div>
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">3</span>Checkout
          </div>
        </div>
      </div>
      <div class="stepper-content">

          <div>
          <p>Hello World</p>

        </div>


      </div>
      <%= link_to '<button type="button" class="btn btn-primary"">Back</button>'.html_safe, '/delivery' %>
    </div>
  </div>





</body>

</html>
