<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <!-- <meta charset="utf-8"> -->
  <title>BuildBox</title>
</head>
<body>


  <div class="stepper">

      <div class="stepper-step stepper-step-isValid">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">1</span>Build Your Box
        </div>
      </div>
      <div class="stepper-step stepper-step-isActive">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">2</span>Delivery
        </div>
      </div>
      <div class="stepper-step stepper-step-isActive">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">3</span>Checkout
        </div>
      </div>
    </div>


      <div>

        <%= form_for :order do |f| %>
        Enter Address: <%= f.text_field :street_address %><br />
        <%= f.submit "Save Order!", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>

      <p><button onclick="geoFindMe()" class="btn btn-secondary btn-sm">Use my current location</button></p>
      <div id="out">



        <form action = "charges/new" >
              Please enter your address
              <br>
              <input type="text" name="text1">
              <br>
              <br>
              <input type="submit" class="btn btn-info"/>
            </form>


      </div>
    </div>
    <div class="delivery-buttons">
    <%= link_to '<button type="button" class="btn btn-warning"">Back</button>'.html_safe, '/buildbox' %>
    <%= link_to '<button type="button" class="btn btn-outline-warning"">Next</button>'.html_safe, '/cart' %>
    </div>

</div>



  </body>

  </html>
