
<div class="stepper">

  <div class="stepper-step stepper-step-isValid">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">1</span>Build Your Box
    </div>
  </div>
  <div class="stepper-step stepper-step-isActive">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">2</span>Delivery
    </div>
  </div>
  <div class="stepper-step stepper-step-isActive">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">3</span>Checkout
    </div>
  </div>
</div>

<%= render "shopping_cart" %>


<%= form_tag cart_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Your Beach Box will cost you: $</span><%=@amount%>
    </label>
    <p>Subtotal: $<%= @sub/100.00  %></p>
    <p>Your estimated delivery cost is $<%= @fee/100.00 %> </p>
  </article>
  <%= link_to '<button type="button" class="btn btn-primary"">Back</button>'.html_safe, '/delivery' %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Beach Box"
          data-amount="<%= @amount*100 %>"
          data-locale="auto"></script>
<% end %>





<!-- <%= form_tag cart_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
      <p><%= flash[:error] %></p>
      </div>
    <% end %>

<<<<<<< HEAD
<% if flash[:error].present? %>
<div id="error_explanation">
  <p><%= flash[:error] %></p>
</div>
<% end %>

=======
>>>>>>> Geocoder
<p>Subtotal: $<%= @sub/100.00  %></p>
<p>Your estimated delivery cost is $<%= @fee/100.00 %> </p>

  <div class="amount">
    <span>Your Beach Box will cost you: $</span><%=@amount%>
  </div>

      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Beach Box"
            data-amount="<%= @amount*100 %>"
            data-locale="auto"></script>
<%= link_to '<button type="button" class="btn btn-primary"">Back</button>'.html_safe, '/delivery' %>
<% end %>


<<<<<<< HEAD
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount="<%= @amount*100 %>"
  data-locale="auto"></script>
<% end %>
=======



<%= console %> -->
<!-- >>>>>>> Geocoder -->
