<div class="stepper">

  <div class="stepper-step stepper-step-isValid">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">1</span>Build Your Box
    </div>
  </div>
  <div class="stepper-step stepper-step-isActive">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">2</span>Delivery
    </div>
  </div>
  <div class="stepper-step stepper-step-isActive">
    <div class="stepper-stepContent">
      <span class="stepper-stepMarker">3</span>Checkout
    </div>
  </div>
</div>
<h1>Review & Checkout</h1>
<br>
<%= render "shopping_cart" %>

<div id="cart-show-page1">
  <%= form_tag cart_path do %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
      <span><strong>Your Beach Box will cost you:</strong> $</span><%=@amount%>
    </label>
    <p><strong>Subtotal:</strong> $<%= @sub/100.00  %></p>
    <p><strong>Your estimated delivery cost is:</strong> $<%= @fee/100.00 %> </p>
  </article>

  <p></p>
  <%= link_to '<button type="button" class="btn btn-warning">Back</button>'.html_safe, '/delivery' %>
  <p></p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Beach Box"
  data-amount="<%= @amount*100 %>"
  data-locale="auto"></script>
  
  <% end %>

</div>
