<!DOCTYPE html>
<html>
  <head>
    <title>Beachbox</title>

  </head>

  <body>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <% if current_user %>
      <!-- current_user will return true if a user is logged in -->
      <%= "Logged in as #{current_user.email}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <hr>

      <% if notice %>
                <%= notice %>
      <% end %>

      <% if alert %>
                <%= alert %>
      <% end %>

      <%# ----- end of added lines ----- %>
    <%= yield %>



  </body>
</html>
